<div class="slider-wrapper">
    <div class="slider-items">
        <div class="slider-item">1</div>
        <div class="slider-item">2</div>
        <div class="slider-item">3</div>
    </div>
</div>



{% schema %}
{
  "name": "Products Slider",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "product",
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
